
body{
    margin: 0;
padding: 0;
background: url(image/download.jpg);
background-size: cover;
background-position: center;
font-family: sans-serif;

}

.loginbox{
width: 320px;
height: 420px;
background: rgb(82, 80, 80);
color: rgb(238, 225, 225);
top: 50%;
left:50% ;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 20px 20px;

}
.avatar{
width: 100px;
height: 100px;
border-radius: 50%;
position: absolute;
top: -50px;
left: calc(50% - 50px) ;
}

h1{
margin-top: 25px;
padding: 0 0 10px;
text-align: center;
font-size: 30px;
font-family: 'Times New Roman', Times, serif;

}
.loginbox label{
margin: 0;
padding: 0;
font-weight: bold;
}

.login input{
    width: 100%;
margin-bottom: 10px;
}
.loginbox input[type="email"]{
    border: none;
    border-bottom: 5px solid rgb(63, 3, 3);
    background: transparent;
    outline: none;
    height: 40px;
color:  rgb(10, 233, 39);
font-size: 16px;
}
.loginbox input[type="password"]{
    border: none;
    border-bottom: 5px solid rgb(82, 6, 6);
    background: transparent;
    outline: none;
    height: 40px;
color:  rgb(15, 231, 62);
font-size: 16px;
}
 .loginbox input[type="submit"]:hover{
     cursor: pointer;
background-color: rgb(48, 39, 167);
color: rgb(145, 77, 77);

 }

input[type="submit"]{
    background-color: crimson;
    color: whitesmoke;
    align: center;
    width: 70px;
    height: 40px;
    padding: 5px;
    float: center;
}
input::placeholder{
color: rgb(190, 10, 19);
}
